@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* //login-8 & singup-8 css */
.neu-input,
.neu-button {
  background: linear-gradient(145deg, #c9ced6, #eef3fb);
}
.neu-input:focus,
.neu-button:hover {
  background: linear-gradient(145deg, #d1d7e0, #f6fbff);
}
.neu-button {
  transition: all 0.2s ease-in-out;
}
.neu-button:active {
  box-shadow: inset 4px 4px 8px rgba(163, 177, 198, 0.5),
    inset -4px -4px 8px rgba(255, 255, 255, 0.5);
}

/* //login12 signup12 css */
.retro-shadow {
  box-shadow: 5px 5px 0px #000000;
}
.pixelated {
  image-rendering: pixelated;
}

/* // login-15 signup-15 css */
.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

/* // login-18 signup-18 css */
.glassmorphism18 {
  background: rgba(23, 25, 35, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
.landing-body {
  font-family: "Inter", sans-serif;
  background-color: #0f172a;
  background-image: radial-gradient(
      at 40% 20%,
      hsla(225, 39%, 25%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 20%, 1) 0, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 20%, 1) 0, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 20%, 1) 0, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 20%, 1) 0, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 20%, 1) 0, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 20%, 1) 0, transparent 50%);
  background-attachment: fixed;
}

.landing-glass {
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
